*{
    box-sizing: border-box;
}
.container{
    width: 90vw;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vh 2vw;
    background-color: #272829;
    color: white;
    position: fixed;
    width: 90vw;
    top: 0;
}
.nav-header{
    flex-grow:1;
}
.nav-links{
    display: flex;
    gap: 0.8em;
}
.nav-links a{
    text-decoration: none;
    color: white;
}
a:hover{
    /* border-radius: 0.5em; */
    background-color: rgb(166, 168, 32);
}
/* Hero section  */
.hero{
    height: 90vh;
    width: 100%;
    background-image: url('./img/images.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-info{
    color: rgb(131, 233, 153);
    position: relative;
    top: 30%;
    padding-left: 2vh;
}
.hero-info button{
    font-size: 1.2em;
    font-weight: bold;
    background-color: yellow;
    width: 6em;
    border-radius: 4px;
    animation-name: apply;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: 3;
}
@keyframes apply {
    from {
        transform: scale(1);
    }
    to {
        rotate: 45;
        transform: scale(1.1);
    }
}
